<div>
    <br>
    <h1 class="center">FAQs</h1>
    <br>
    <div class="margin">
        <div class="box-inline">
            <h3><i class="fa-solid fa-circle-info"></i>&nbsp;<i>Come spostarsi?</i>&nbsp;<img width="48" height="48"
                    src="https://img.icons8.com/color/48/traffic-jam.png" alt="traffic-jam" /></h3>
            <span>Ti suggeriamo caldamente di noleggiare un auto all’aeroporto di Catania in modo da essere
                assolutamente indipendente. Comunque, la tratta Catania-Floridia è
                servita anche dai mezzi pubblici (anche se non molto frequenti):
                <ul>
                    <li>Autobus</li>
                    <li>Treno</li>
                </ul>
                Per il matrimonio non è previsto un servizio navetta privato, quindi se necessiti di un passaggio,
                contattaci.
            </span>
        </div><br>
        <div class="box-inline">
            <h3><i class="fa-solid fa-circle-info"></i>&nbsp;<i>Qual'è l'aeroporto più vicino?</i>&nbsp;<img width="48"
                    height="48" src="https://img.icons8.com/color/48/airplane-take-off--v1.png"
                    alt="airplane-take-off--v1" /></h3>
            <span>Catania dista appena 60 km, collegato con una autostrada che vi permette in 40 minuti di essere a
                Floridia. Catania è servito da tutti i principali
                aeroporti con diversi collegamenti giornalieri.
                Tip: L’Etna sorge proprio a Catania ed è il più alto vulcano attivo della placca euroasiatica. La sua
                attività è molto frequente nei mesi estivi e quando
                si fa più intensa si necessita la chiusura dell’aeroporto, bloccando temporaneamente lo spazio aereo.
                Questo significa che ritardi o modifiche sono
                frequenti. Per evitare impatti, ti suggeriamo di pianificare il tuo arrivo un giorno in anticipo.</span>
        </div>
        <br>
        <div class="box-inline">
            <h3><i class="fa-solid fa-circle-info"></i>&nbsp;<i>Quali sono le spiagge più belle vicino a Floridia?</i>&nbsp;<img
                    src="/img/beach-1.png">
            </h3>
            <span>Tutta la costa è stupenda! A nostro avviso, le più belle spiagge sono:</span>
            <ul>
                <li><b>Fontane Bianche</b>&nbsp;<a href="https://maps.app.goo.gl/own1g66dwY69AURS9" target="_blank"><i
                            class="fa-solid fa-location-dot"></i></a> (20 km da Floridia): sorge a circa 15 chilometri
                    da
                    Siracusa. Un litorale lungo 3 chilometri, sabbia bianca e un mare
                    incantevole. Immersa tra le scogliere è una delle spiagge più belle e amate di Siracusa. Troverete
                    aree attrezzate con sdraio e ombrelloni e
                    ampi spazi di spiaggia libera. Insomma la spiaggia di Fontane Bianche accontenterà tutti!</li>
                <li><b>Gallina</b>&nbsp;<a href="https://maps.app.goo.gl/Z8Hy8vP86Nkkud3a9" target="_blank"><i
                            class="fa-solid fa-location-dot"></i></a> (25 km da Floridia): situata all’interno della Riserva
                    Naturale della foce del fiume Cassibile. La spiaggia di sabbia dorata,
                    lunga circa 500 m, è delimitata da scogliere bianche bagnate da un mare azzurro e trasparente. Molto
                    suggestive sono le grotte e gli archi
                    naturali che caratterizzano le scogliere, da cui si estende una pineta che circonda e protegge la
                    baia. La spiaggia è lunga e stretta, per cui
                    potrebbe risultare affollata durante i periodi di alta stagione. È servita da un bar che offre il
                    noleggio di ombrelloni.</li>
                <li><b>Spiaggia della Riserva di Vendicari</b>&nbsp;<a href="https://maps.app.goo.gl/6b8ayRkFCgpuSifb9"
                        target="_blank"><i class="fa-solid fa-location-dot"></i></a> (45 km da Floridia): Sorge all’interno
                    della riserva, caratterizzata dalla presenza di un arenile sabbioso,
                    acque cristalline, natura selvaggia e la presenza di siti archeologici di notevole importanza come
                    la Torre Sveva e la Tonnara. È una spiaggia
                    libera ma sono necessari 3,50€ a persona per entrare nella riserva. Non sono presenti punti di
                    ristoro o bar, quindi vi consigliamo un pranzo
                    a sacco e bevande per rifocillarvi. È una delle spiagge più amate della riserva per la bellezza del
                    litorale e la trasparenza delle acque.</li>
                <li><b>San Lorenzo</b>&nbsp;<a href="https://maps.app.goo.gl/tET8uewG5P9vs5XN8" target="_blank"><i
                            class="fa-solid fa-location-dot"></i></a> (50 km da Floridia): sorge nei pressi
                    della Riserva di Vendicari. Una deliziosa distesa di sabbia intervallata da
                    aree rocciose. E’ disponibile una piccola spiaggia libera e diversi lidi come Lido San Lorenzo e
                    Lido Agua Beach.</li>
            </ul>
        </div>
        <br>
        <div class="box-inline">
            <h3><i class="fa-solid fa-circle-info"></i>&nbsp;<i>Quale regalo per gli sposi?</i>&nbsp;<img width="48" height="48"
                    src="https://img.icons8.com/color/48/gift--v1.png" alt="gift--v1" />
            </h3>
            <span>La vostra presenza sarà per noi il dono più bello, ma se desiderate farci un regalo, il più gradito
                sarà un contributo per rendere indimenticabile la
                nostra luna di miele.
            </span><br><br>
            <h3 class="center"><i>IBAN: XXXX</i></h3>
        </div>
    </div>
</div>