<div class="form-container">
    <br>
    <br>
    <!--TEMPLATE DRIVEN FORM-->
    <form *ngIf="stepActive==0" #formGuest="ngForm" (ngSubmit)="searchGuests(formGuest, 1)">

        <h4 class="center">La vostra presenza è il regalo più gradito <img width="60" height="60"
                src="/img/rsvp-guest.png" /></h4>
        <br>
        <p>Cerca il tuo nome e conferma la tua presenza entro il <b>10 giugno 2025</b>.</p>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input style="text-align:center;" matInput type="text" name="guestName" ngModel #guestName="ngModel"
                    required matTooltip="Inserisci il nome e l'iniziale del cognome (Es: Lorena L.)"
                    matTooltipPosition="right" />
                <mat-error *ngIf="formGuest.submitted && guestName.invalid">Il nome è richiesto</mat-error>
            </mat-form-field>
        </div>
        <br>
        <button type="submit" [ngClass]="'btn btn-primary enabled-custom'">Ricerca&nbsp;&nbsp;<i
                class="bi bi-search"></i></button>
    </form>
    <!-- STEP 2 -->
    <div *ngIf="stepActive==1">
        <h4 *ngIf="this.guestNames.length === 0; else otherTitle">Nessun ospite trovato. Si prega di riprovare.</h4>
        <ng-template #otherTitle>
            <h4>Seleziona il tuo nome</h4>
        </ng-template>
        <br>
        <div>
            <mat-radio-group class="column-mat-radio-group">
                <mat-radio-button class="column-mat-radio-button" *ngFor="let guest of guests; let i = index"
                    name="guestSelected" [value]="guest.id" [disabled]="guest.confirm"
                    (change)="onGuestChecked($event)">
                    <span class="larger-span" [innerHTML]="guestNames[i]"></span>
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
        <button class="btn btn-primary btn-return" (click)="goToStep(0)"><i
                class="bi bi-arrow-left-circle"></i>&nbsp;&nbsp;Torna indietro</button>
        <button type="submit" *ngIf="this.guestNames.length > 0"
            [ngClass]="!guestSelected ? 'btn btn-primary disabled-custom' : 'btn btn-primary enabled-custom'"
            (click)="getGuestSelected(2)" [disabled]="!guestSelected">Continua&nbsp;&nbsp;<i
                class="bi bi-check-circle"></i></button>
    </div>
    <!-- STEP 3 -->
    <form *ngIf="stepActive==2" #formConfirm="ngForm" (ngSubmit)="saveGuestsData(formConfirm)">
        <!-- <pre>{{formConfirm.value | json }}</pre>  -->
        <h4 *ngIf="guestsSelected.length > 1; else otherContent">Confermate la vostra presenza e le vostre preferenze:
        </h4>
        <ng-template #otherContent><h4>Conferma la tua presenza e la tua preferenza</h4></ng-template>
        <br>
        <div class="form-row" ngModelGroup="guestGroup">
            <div *ngFor="let guest of guestsSelected.peopleById; let i = index" class="form-row shadow"
                ngModelGroup={{guest.id}}>
                <div class="form-group row">
                    <h4 name="name" [(ngModel)]="guest.name">{{guest.name}}</h4>
                    <h4 name="id" [(ngModel)]="guest.id"></h4>
                </div>

                <div>
                    <label for="confirmSelection">Conferma presenza*</label>
                    <mat-radio-group class="inline-radio-group" ngModel name="confirmSelection_{{guest.id}}" required>
                        <mat-radio-button value="Y" (click)="toogleConfirmationGuest(i, true)">Si</mat-radio-button>
                        <mat-radio-button value="N" (click)="toogleConfirmationGuest(i, false)">No</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="formConfirm.submitted && guestsHasConfirmed[i] === undefined">
                        Conferma obbligatoria!
                    </mat-error>
                </div>
                <div *ngIf="guestsHasConfirmed[i] === true" class="form-group row field">
                    <mat-form-field appearance="outline">
                        <mat-label class="label-custom"><i class="fa-solid fa-utensils"></i>&nbsp;Scegli il
                            menù</mat-label>
                        <mat-select name="menuSelected" (selectionChange)="onMenuSelectionChange(i, $event)" ngModel
                            [required]="guestsHasConfirmed[i] === true" #menuSelected="ngModel">
                            <mat-select-trigger>
                                {{this.menuSelectedValueText[i]}}
                            </mat-select-trigger>
                            <mat-option value="1">Pesce</mat-option>
                            <mat-option value="2">Carne</mat-option>
                            <mat-option value="3">Vegetariano</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formConfirm.submitted && menuSelected.invalid">
                            Scegli un menù!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="guestsHasConfirmed[i] === true" class="form-group row field">
                    <mat-form-field appearance="outline">
                        <mat-label class="label-custom"><i class="fa-solid fa-syringe"></i>&nbsp;Eventuali
                            Allergie</mat-label>
                        <mat-select #allergySelection name="allergySelected" ngModel
                            (selectionChange)="checkVisibilityOtherAllergiesBox(i, $event)" multiple>
                            <mat-select-trigger>
                                <span *ngIf="(allergySelection.value.length || 0) >= 1"
                                    class="example-additional-selection">
                                    {{allergySelection.value.length}} {{allergySelection.value.length > 1 ?
                                    'selezionate' :
                                    'selezionata'}}
                                </span>
                            </mat-select-trigger>
                            <mat-option value="Lattosio">Lattosio</mat-option>
                            <mat-option value="Glutine">Glutine</mat-option>
                            <mat-option value="Crostacei">Crostacei</mat-option>
                            <mat-option value="Altro">Altro</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="this.isEnabledOtherAllergiesBox[i] && guestsHasConfirmed[i] === true" form-group row>
                    <input type="text" placeholder="Inserisci qui le ulteriori allergie" name="otherAllergies"
                        class="form-control input-text" ngModel>
                </div>
                <br>
            </div>
        </div>
        <br>
        <div *ngIf="willAllGuestsBePresent() === true" class="form-row" ngModelGroup="childrenSelection">
            <mat-form-field *ngIf="guestsSelected.peopleById.length > 1" appearance="outline">
                <mat-label class="label-custom"><i class="fa-solid fa-baby"></i>&nbsp;Bambini?</mat-label>
                <mat-select name="areChildrenPresent" ngModel>
                    <mat-select-trigger>
                        <span>
                            {{formConfirm.value.childrenSelection.areChildrenPresent === "1" ? "Si" : "No"}}
                        </span>
                    </mat-select-trigger>
                    <mat-option value="1">Si</mat-option>
                    <mat-option value="2">No</mat-option>
                </mat-select>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field *ngIf="formConfirm.value.childrenSelection.areChildrenPresent === '1'" appearance="outline">
                <mat-label>Numero bambini</mat-label>
                <input name="childrenNumber" ngModel type="number" min="0" matInput value="0"
                    [required]="formConfirm.value.childrenSelection.areChildrenPresent === '1'"
                    #childrenNumber="ngModel">
                <mat-error
                    *ngIf="formConfirm.submitted && formConfirm.value.childrenSelection.areChildrenPresent === '1' && childrenNumber.invalid">
                    Seleziona quanti mocciosi ci saranno!
                </mat-error>
            </mat-form-field>
            <!-- </div> -->
        </div>
        <br>
        <div class="form-row">
            <button type="button" class="btn btn-primary btn-return" (click)="goToStep(0)"><i
                    class="bi bi-arrow-left-circle"></i>&nbsp;&nbsp;Nuova ricerca</button>
            <button type="submit" class="btn btn-primary enabled-custom">
                Continua&nbsp;&nbsp;<i class="bi bi-check-circle"></i></button>

            <!-- [ngClass]="!guestSelected ? 'btn btn-primary disabled-custom' : 'btn btn-primary enabled-custom'"
                [ngClass]="!formConfirm.valid ? 'btn btn-primary disabled-custom' : 'btn btn-primary enabled-custom'" -->
        </div>
    </form>
    <!-- -->
</div>
<ngx-ui-loader></ngx-ui-loader>