<br>
<div class="divWlcMsg elegant center">
    <br>
    <h1 class="shadow-custom">Daniele e Lorena</h1>
    <div><img src="/img/wedding-ring.png" style="height: 100px;" /></div><br>
    <h3 class="shadow-custom">Venerdì 11 Luglio 2025</h3><br>
    <!-- <div><img src="/img/lo_da_welcome.jpg" class="imgs-custom" /></div> -->
    <owl-carousel-o class="custom-owl" [options]="customOptions">
        <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide [id]="slide.id">
                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" class="imgs-custom">
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<br>
<div class="countdown center">
    <p class="center" style="margin-bottom: -1px;">Mancano esattamente</p>
    <div class="box-countdown">
        <div class="box-element">
            <h4 class="days padding-vertical padding-horizontal text-glow">{{days}}</h4>
            <h4 class="smalltext shadow-custom">&nbsp;giorni&nbsp;</h4>
        </div>
        <div class="box-element">
            <h4 class="hours padding-vertical text-glow" id="hour">{{hours}}</h4>
            <h4 class="smalltext shadow-custom">&nbsp;ore&nbsp;</h4>
        </div>
        <div class="box-element">
            <h4 class="minutes padding-vertical text-glow" id="minute">{{minutes}}</h4>
            <h4 class="smalltext shadow-custom">&nbsp;minuti&nbsp;</h4>
        </div>
        <div class="box-element">
            <h4 class="seconds padding-vertical text-glow flip" id="second" #secondVal>{{seconds}}</h4>
            <h4 class="smalltext shadow-custom">&nbsp;secondi&nbsp;</h4>
        </div>
    </div>
    <br>
    <p class="center padding-horizontal">al nostro grande giorno. Non vediamo l'ora di condividere questo momento
        insieme a voi.</p>
    <br>
</div>