<div class="divWlcMsg elegant center">
    <br>
    <h1>Daniele e Lorena</h1>
    <div><img src="/img/wedding-ring.png" style="height: 100px;" /></div><br>
    <h3>Venerdì 11 Luglio 2025</h3><br>
    <div><img src="/img/lo_da_welcome.jpg" class="imgs-custom" /></div>
</div>
<br>
<div class="countdown center">
    <p class="center" style="margin-bottom: -1px;">Mancano esattamente</p>
    <div class="box-countdown">
        <h4 class="days padding-vertical padding-horizontal" id="day">{{days}}</h4>
        <h4 class="smalltext">&nbsp;Giorni&nbsp;</h4>
    </div>
    <div class="box-countdown">
        <h4 class="hours padding-vertical" id="hour">{{hours}}</h4>
        <h4 class="smalltext">&nbsp;Ore&nbsp;</h4>
    </div>
    <div class="box-countdown">
        <h4 class="minutes padding-vertical" id="minute">{{minutes}}</h4>
        <h4 class="smalltext">&nbsp;Minuti&nbsp;</h4>
    </div>
    <div class="box-countdown">
        <h4 class="seconds padding-vertical" id="second">{{seconds}}</h4>
        <h4 class="smalltext">&nbsp;Secondi&nbsp;</h4>
    </div><br>
    <p class="center padding-horizontal">al nostro grande giorno. Non vediamo l'ora di condividere questo momento insieme a voi.</p>
    <br>
</div>