<div >
    <!-- <br> -->
    <!-- <h2 class="center">La cerimonia e il ricevimento&nbsp;<img width="50" height="50"
        src="/img/balloon.png"/></h2> -->
    <br>
    <br>
    <!-- <p class="margin">L’11 luglio 2025 convoleremo a nozze e siamo elettrizzati di condividere questo giorno speciale con voi.</p> -->
    <div class="center">
        <p style="display: inline-block; font-weight: bold;">La cerimonia si svolgerà a Siracusa alle ore 18:00 presso la
            <i style="color:red; font-size: larger;"><b>Chiesa di San Giovanni alle Catacombe</b></i>&nbsp;
            <a href="https://maps.app.goo.gl/jAkrmvoFo3MfExe19" target="_blank"><img width="40" height="40"
                    src="https://img.icons8.com/color/56/address--v1.png" alt="address--v1" /></a>
        </p>
        <img src="/img/chiesa.png" class="imgs-custom img-align">
    </div>
    <div class="center"><br><br>
        <p style="display: inline-block; font-weight: bold;">Dopo la cerimonia, ci sposteremo per
            festeggiare insieme al <i style="color:red; font-size: larger;"><b>Castello del Solacium</b></i> presso Azienda Agricola Pupillo (Siracusa)&nbsp;<a href="https://maps.app.goo.gl/YF3CuVFqz5rssU68A" target="_blank"><img width="40"
                height="40" src="https://img.icons8.com/color/56/address--v1.png" alt="address--v1" /></a></p> <img
            src="/img/pupillo.png" class="imgs-custom img-align">
    </div>
</div>
<br>